
/**
 * 文本可以做一些适当调整。
 */

.md {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
  display: inline-block;
  color: #ddd;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.md li {
  margin: 5px 0;
  line-height: 1.5;
}

.md h1, .md h2, .md h3, .md h4, .md h5, .md h6, .md ul, .md p {
  margin: 0;
}


/**
 * 还差最后一点就结束了。
 */

pre:hover{
  box-shadow: 0 0 40px 5px rgba(255,255,255,0.4);
}

/**
 * 希望你能喜欢，这个创意是参考国外一个牛人的，
 * 然后看到滴滴某大神用Vue重构了一下，
 * 我觉得很有趣，也用React+Hooks+TS重构了一下。
 * 如果您觉得我还不错，可以与我联系~，ღ( ´･ᴗ･` )比心
 */


